body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 30%);
}

.d-none {
  display: none;
}

p {
  margin-bottom: 0;
}

.inactive {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

/* Pokemon Detailed Card */
.card {
  height: 44rem;
  position: fixed;
  top: 145px;
  border: 1px solid darkgray;
  border-radius: 15px;
  z-index: 5;
}

.card2 {
  position: sticky;
  padding: 10px;
  height: 12rem;
  border: 1px solid darkgray;
  border-radius: 15px;
  width: 16rem;
  margin: 10px;
  cursor: pointer;
}

.card2:hover {
  transform: scale(1.08);
}

.card-body {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.pokeCardHead {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.namePokemon {
  padding-left: 20px;
}

.pokeName {
  padding-left: 0;
}

.idPoke {
  margin-right: 60px;
}

.pokeId {
  margin-right: 0;
}

.button-upgrade {
  height: 286px;
  width: 8% !important;
}

.pokeContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 65px;
}

.pokeImg {
  height: 250px;
  width: 250px;
  position: relative;
  top: 10px;
  left: 135px;
  z-index: 5;
}

.pokeImg2 {
  height: 160px;
  position: absolute;
  z-index: 2;
  left: 80px;
  bottom: 0px;
}

.pokeImg2:hover {
  transform: scaleX(-1);
}

.pokeBg {
  z-index: -1;
  position: relative;
  height: 300px;
  width: 300px;
  top: -220px;
  left: 20px;
  transform: rotate(-15deg);
  mix-blend-mode: soft-light;
}

.pokeBg2 {
  height: 160px;
  position: absolute;
  left: 35px;
  bottom: 5px;
  mix-blend-mode: soft-light;
  transform: rotate(-20deg);
  opacity: 50%;
  z-index: -1;
}

.pokeBase {
  margin: 1px;
  padding: 12px;
  background-color: white;
  height: 350px;
  width: 428px;
  z-index: 1;
  margin-top: -320px;
  border-radius: 16px 16px 0 0;
  border: 1px solid;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.4);
}

.pokeTabs {
  display: flex;
  flex-direction: row;
}

#pokeTabBase {
  height: 60px;
  background-color: white;
  margin-left: 1px;
  padding: 5px;
  border-radius: 0 0 0 15px;
  width: 50%;
  border: 1px solid;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokeTabBase h3 {
  margin: 0;
}

#pokeTabStat {
  height: 60px;
  background-color: white;
  margin-right: 1px;
  padding: 5px;
  border-radius: 0 0 15px 0;
  width: 50%;
  border: 1px solid;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokeTabStat h3 {
  margin: 0;
}

.pokeType {
  display: flex;
  height: 24px;
  margin-top: 10px;
}

.overviewType {
  margin-left: 6px;
  width: fit-content;
}

.overviewType p {
  width: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  margin-bottom: 4px;
}

.pokeType p {
  margin-right: 8px;
  margin-left: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  padding-bottom: 24px;
}

.pokeBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokeBody div {
  margin-top: 20px;
  width: 134px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#pokeFrame {
  width: 110px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.circle {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 5px 15px;
  border-radius: 50%;
  background: #fff5ef;
  overflow: hidden;
  border: 1px solid lightgray;
}

.circle .inner-circle {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.75);
}

.inner-circle span {
  font-size: 16px;
}

.circle-name p {
  margin-top: 4px;
  text-align: center;
}

.footer {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid grey;
}

.social-media {
  margin-top: 12px;
}

.social-media a{
  margin-left: 4px;
  margin-right: 4px;
}

@media (max-width: 560px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn {
    margin-bottom: 8px;
  }

  .pokeContent {
    padding-top: 145px
  }

  .card {
    top: 115px;
    transform: scale(0.7);
  }
}